[defaults]
roles_path = ansible/roles
inventory = ansible/inventory
vars_plugins_enabled = host_group_vars,community.sops.sops
interpreter_python = /usr/bin/python3
stdout_callback = yaml
nocows = true

[community.sops]
binary = /home/atqa/.local/share/mise/installs/sops/3.12.2/sops
