[defaults]
roles_path = ansible/roles
inventory = ansible/inventory
vars_plugins_enabled = host_group_vars,community.sops.sops
interpreter_python = /usr/bin/python3
stdout_callback = default
result_format = yaml
nocows = true
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_fact_cache
fact_caching_timeout = 7200

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=600s

[community.sops]
binary = /home/atqa/.local/share/mise/installs/sops/3.12.2/sops
